* {
  box-sizing: border-box;
}
body {
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/*HEADER*/
header h1 {
  text-align: center;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

/*SEARCH SECTION*/
.search {
  background-color: #f6f6f6;
}
.search button {
  cursor: pointer;
  color: white;
  box-sizing: content-box;
  border: none;
  padding: 5px;
  border-radius: 50px;
  background: linear-gradient(172deg, #ff79da 21%, #9356dc 79%);
}

/*MAIN*/
.restaurant {
  width: auto;
  background-color: #f5f5f5;
}
.restaurant a {
  color: black;
  text-align: left;
  text-decoration: none;
}
.restaurant figure {
  margin: 0;
  background-color: white;
}

.restaurant img {
  object-fit: cover;
  width: 100%;
}

/*FOOTER*/
footer {
  text-align: left;
  background-color: black;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
footer ul {
  padding: 0;
}
