footer {
  text-align: left;
  background-color: #353535;
  color: white;
  padding: 2em;

  img {
    width: 7em;
    margin-bottom: 1em;
  }
  /*h5 {
    font-family: "Shrikhand", sans-serif;
    font-size: large;
    margin: 0;
    line-height: 3em;
  }*/
  a {
    color: white;
    text-decoration: none;
  }

  .icone {
    padding-right: 0.5em;
  }

  .icone.hand {
    transform: scale(0.9);
    padding-right: 0.3em;
  }
}
