footer {
  text-align: left;
  background-color: #353535;
  color: white;
  padding: 2em;

  img {
    width: 7em;
    margin-bottom: 1em;
    @include tablet {
      width: 8.5em;
    }
    @include laptop {
      width: 9em;
    }
    @include xl-screen {
      padding-left: 5%;
      width: 10em;
    }
  }
  /*h5 {
    font-family: "Shrikhand", sans-serif;
    font-size: large;
    margin: 0;
    line-height: 3em;
  }*/
  a {
    line-height: 1.5em;
    color: white;
    text-decoration: none;

    @include tablet {
      padding: 0 1em 0 1em;
    }
  }
  li:hover {
    color: $color-primary;
    transition: 2s;
    & > a {
      color: #e9d9fc;
      transition: 1s;
    }
  }
  .icone {
    padding-right: 0.5em;
  }

  .icone.hand {
    transform: scale(0.9);
    padding-right: 0.3em;
  }

  ul {
    @include tablet {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    @include laptop {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    @include xl-screen {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
