footer {
  text-align: left;
  background-color: #353535;
  color: white;
  padding: 2em;
  & img {
    width: 7em;
    margin-bottom: 1em;
  }
  & h4 {
    font-family: "Shrikland";
    font-size: 2em;
    font-weight: bold;
  }
  & a {
    color: white;
    text-decoration: none;
  }
  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  & .icone {
    padding-right: 0.5em;
  }
  & .icone.hand {
    transform: scale(0.9);
    padding-right: 0.3em;
  }
}
