/*HEADER*/
.header_contain {
  display: flex;
  align-items: center;
  justify-content: center;
  .arrow {
    margin: 0px 35px 0px -25px;
  }
}

/*MAIN*/
main {
  figure {
    margin: 0;
  }

  img {
    width: 100%;
    height: 15em;
    object-fit: cover;
    @include laptop {
      width: 92%;
      height: 21em;
      border-radius: 2em 2em 0 0;
    }
    @include xl-screen {
      width: 92%;
      height: 21em;
      border-radius: 2em 2em 0 0;
    }
  }

  .menu {
    position: relative;
    z-index: 1;
    background-color: $main-bckg-color;
    border-radius: 2em 2em 0 0;
    list-style-type: none;
    padding: 1em;
    margin-top: -2em;
    @include laptop {
      width: 90%;
      margin: -2em auto 2em auto;
      border-radius: 2em;
    }
    @include xl-screen {
      width: 90%;
      margin: -2em auto 2em auto;
      border-radius: 2em;
    }
    .menu_container {
      @include laptop {
        display: flex;
        justify-content: space-around;
      }
      @include xl-screen {
        display: flex;
        justify-content: space-around;
      }
    }

    .entree,
    .dishes,
    .dessert {
      @include laptop {
        width: 30%;
      }
      @include xl-screen {
        width: 30%;
      }
    }

    .restaurant_name {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h2 {
      font-family: "Shrikhand", Arial, Helvetica, sans-serif;
      text-align: left;

      margin-top: 1em;
    }

    h3 {
      display: flex;
      text-align: left;
      font-weight: lighter;
      .underline {
        border-bottom: 3px solid $color-tertiary;
      }
    }

    li {
      display: flex;
      margin-bottom: 1.2em;
      background-color: white;
      border-radius: 1em;
      cursor: pointer;
      @include shadow;
      @include tablet {
        margin-bottom: 1.5em;
      }
      @include laptop {
        margin-bottom: 1.5em;
      }
      @include xl-screen {
        margin-bottom: 1.5em;
      }

      .accompaniements {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0.5em 0 0.5em 0.5em;
        text-align: left;
        overflow: hidden;

        & > span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        & .title_acc {
          margin: 0;
          font-weight: bold;
        }
      }
      .rest_acc {
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-right: 0.5em;

        .price {
          margin: 0;
          font-weight: bold;
          line-height: 2em;
          padding-top: 1.3em;
        }
      }
    }

    .green-dow {
      display: flex;
      color: white;
      background-color: $color-tertiary;
      border-radius: 0em 1em 1em 0em;
      width: 0;
      overflow: hidden;
      transition: width 400ms ease-in;
    }

    .check {
      margin: auto;
      transform: rotate(0);
      transition: transform 400ms;

      & .check_icon {
        margin: auto;
        font-size: large;
      }
    }

    li:hover {
      .green-dow {
        width: 18%;
        max-width: 5em;
      }

      .check {
        transform: rotate(-1turn);
      }
    }

    button {
      cursor: pointer;
      max-width: 50%;
      color: white;
      border: none;
      border-radius: 50px;
      outline-style: none;
      padding: 1em;
      margin: auto;
      margin-top: 2em;
      margin-bottom: 2em;
      @include gradient;
      transition: 1s;

      &:hover {
        @include shadow;
      }
    }
  }
}
