/* APPARITION DES MENUS */

@keyframes slide_in {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.first {
  animation: slide_in 2s ease-in-out forwards;
  animation-fill-mode: both;
  opacity: 0;
}

.second {
  animation: slide_in 2s ease-in-out forwards;
  animation-fill-mode: both;
  opacity: 0;
  animation-delay: 0.25s;
}

.third {
  animation: slide_in 2s ease-in-out forwards;
  animation-fill-mode: both;
  opacity: 0;
  animation-delay: 0.5s;
}

.fourth {
  animation: slide_in 2s ease-in-out forwards;
  animation-fill-mode: both;
  opacity: 0;
  animation-delay: 0.75s;
}

.fifth {
  animation: slide_in 2s ease-in-out forwards;
  animation-fill-mode: both;
  opacity: 0;
  animation-delay: 1s;
}

.sixth {
  animation: slide_in 2s ease-in-out forwards;
  animation-fill-mode: both;
  opacity: 0;
  animation-delay: 1.25s;
}

.seventh {
  animation: slide_in 2s ease-in-out forwards;
  animation-fill-mode: both;
  opacity: 0;
  animation-delay: 1.5s;
}

.eighth {
  animation: slide_in 2s ease-in-out forwards;
  animation-fill-mode: both;
  opacity: 0;
  animation-delay: 1.75s;
}

.ninth {
  animation: slide_in 2s ease-in-out forwards;
  animation-fill-mode: both;
  opacity: 0;
  animation-delay: 2s;
}

.tenth {
  animation: slide_in 2s ease-in-out forwards;
  animation-fill-mode: both;
  opacity: 0;
  animation-delay: 2.25s;
}
