// SHADOW INDEX & MENU WINDOW
@mixin shadow {
  box-shadow: 0px 3px 5px 1px #cccccc;
  opacity: 0.9;
  transition: 250ms;
}

// COLOR BIG BUTTON
@mixin gradient {
  background: linear-gradient(172deg, $color-secondary 21%, $color-primary 79%);
}

// MEDIA QUERIES

@mixin tablet {
  /*$tablet-min: 426px --> $tablet-max: 768px;*/
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    @content;
  }
}

@mixin laptop {
  /*$laptop-min: 769px  -->  $laptop-max: 1024px;*/
  @media (min-width: $laptop-min) and (max-width: $laptop-max) {
    @content;
  }
}

@mixin xl-screen {
  /*$min-screen: 1025px  -- >  $max-screen: 2675px;*/
  @media (min-width: $min-screen) and (max-width: $max-screen) {
    @content;
  }
}
